@import "../../index.scss";

.empty {
   min-width: 100%;
   min-height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   &__content {
   }
   &__img {
      height: 62px;
      width: 76px;
      display: block;
      margin: 0 auto;
   }
   &__text {
      font-size: 22px;
      line-height: 31px;
      color: #808080;
      margin: 45px 0px 0px 0px;
   }
}

@media (max-width: 600px) {
   .empty{
      &__text {
         margin: 20px 0px 0px 0px;
      }
   }
}
@media (max-width: 460px){
   .empty{
      margin: 50px 0px 20px 0px;
   }
}
