.container{
   overflow: hidden;
   margin: 0 auto;
   max-width: 1370px;
   min-height: 710px;
   background-color: rgba(229, 229, 229, 1);
}
@media (max-height: 710px){
   .container{
      height: 100vh;
   }

}
