.container{
   overflow: hidden;
   margin: 0 auto;
   max-width: 1370px;
   height: 740px;
   background-color: rgba(229, 229, 229, 1);
}
@media (max-height: 740px){
   .container{
      height: 100vh;
   }

}
